@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* background: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  ); */
}

body {
  background-color: #3d3d3d;
}

.grass {
  background: linear-gradient(to right, #d4fc79 0%, #96e6a1 100%);
}

.grass-button {
  background: linear-gradient(to top, #bbfa28 0%, #3ce953 100%);
}

.fire {
  background: linear-gradient(to top, #f6d365 0%, #fda085 100%);
}

.fire-button {
  background: linear-gradient(to right, #e3b727 0%, #ea6a46 100%);
}

.water {
  background: linear-gradient(to left top, #89f7fe 0%, #66a6ff 100%);
}

.water-button {
  background: linear-gradient(to bottom right, #40e0ec 0%, #2b78e4 100%);
}

.bug {
  background: linear-gradient(145deg, #f09d31 0%, #eacda3 100%);
}

.bug-button {
  background: linear-gradient(45deg, #e6b980 0%, #c09e31 100%);
}

.normal {
  background: linear-gradient(145deg ,#E3FDF5 0%, #eacda3 50%, #FFE6FA 100%);
}

.electric {
  background: linear-gradient(145deg, #772f1a 0%, #f2a65a 74%);
}

.poison {
  background: linear-gradient(145deg,  #ff9a9e 0%, #fecfef 59%, #fecfef 100%);
}

.ground {
  background: linear-gradient(145deg, #e6b980 0%, #eacda3 100%);
}

.header-container {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  color: #ddd;
  height: 100%;
  width: 100%;
  position: relative;
}

.header-part-1, .header-part-2{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom:5rem;
}

.header-part-1 h2{
  right: 5%;
  position: absolute;
  color: white;
}
.header-part-1 h2:nth-child(1) {
  /* align-self: center; */
	color: transparent;
	-webkit-text-stroke: 2px #ddd;
}

.header-part-1 h2:nth-child(2) {
	color: #ddd;
	animation: animate 4s ease-in-out infinite;
}

.header-part-2 h2{
  right: 5%;
  position: absolute;
  color: black;
}



@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  width: 12rem;
  margin: 0.5rem;
  padding: 2rem;
  gap: 0.5rem;
  background-color: #ddd;
  border-radius: 0.25rem;
  text-align: center;
  transition: transform 0.25s ease-in-out;
  /* max-height: 18rem; */
}

.pokemon-card:hover {
  transform: scale(1.25);
  z-index: 1;
  /* border: 1px solid #fff; */
  outline: 1px solid #fff;
}

.pokemon-card img {
  width: 10rem;
  height: 8rem;
}

.pokemon-card .char-name {
  text-decoration: underline;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 1rem;
}
.load-more {
  width: 12rem;
  padding: 1rem 1.5rem;
  background: linear-gradient(
    to top right,
    #f6d365 0%,
    #fda085 25%,
    #89f7fe 50%,
    #96e6a1 75%,
    #66a6ff 100%
  );
  margin: 3rem 0;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #3d3d3d
}

.load-more:hover{
  cursor: pointer;
  background: linear-gradient(
    to top right,
    #ffd034 0%,
    #f37350 25%,
    #4bebf7 50%,
    #4ce661 75%,
    #2c80f6 100%
  );
}

.know-more{
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.125rem;
}

.know-more:hover{
  cursor: pointer;
}

.modal-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container{
  padding: 1rem;
  display: flex;
  width: 50%;
  min-width: 40rem;
  justify-content: space-between;
  border-radius: 0.25rem;
}

.pokemon-info-container{
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background: linear-gradient();
}

.stat-container{
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.column-1, .column-2, .column-3, .column-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.column-1{
  align-items: center;
}

.column-1 img{
  width: 10rem;
  height: 10rem;
}
.column-1 h3{
  text-decoration: underline;
  font-size: 1.2rem;
}

.close-modal{
  align-self: flex-start;
  width: 3rem;
  height: 3rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 50%;
}
